@external .FieldPanel;
@external .focus;
@external .error;
@external .field;
@external .label;

.FieldPanel {
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 3px;
	padding: 0.25em 0.5em 0.5em;
}

.FieldPanel.focus {
	border-color: #C2D7EF;
	background-color: #DFEFFF;
}

.FieldPanel.error {
	border-color: #EFC2C4;
	background-color: #FFDFE0;
}

.FieldPanel .field {
}

.FieldPanel .label {
	margin: 5px 0;
	font-weight: bold;
}
