@external .PortalPopup;
@external .popupContent;

.PortalPopup {
	/* overrides */
	padding: 10px;
	border: 0 none;
	/* --------- */
	border-radius: 5px;
}

.PortalPopup .popupContent {
	overflow: auto;
}
