@external .WebPopup;
@external .withGlass;
@external .closeImage;

.WebPopup.withGlass {
}

.WebPopup .closeImage {
	position: absolute;
	width: 36px;
	height: 36px;
	top: -22px;
	right: -22px;
	cursor: pointer;
}
